h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  text-align: center;

}

p{
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  text-align: center;
  padding-top: 10px;
  text-decoration: underline;
}

input {   /* this is for the user's input in the search bar */
  height: 35px;
  width: 500px;
  font-size: 20px;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  border-color: black;
  border-style: solid;

}


* {  /* this is for the placeholder */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
  position: center;


}

form {
  width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: auto;

}

input[type="text"] { /* this is for the placeholder */
  width: 100%;
  height: 40px;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  font-size: 16px;
  background-color: white;
  border-radius:10px;


}

ul {
  list-style: none;
}


.list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;


}

.list-items {
  padding: 10px 5px;
  font-size: 15px;
  color: black;

}

.list-items:hover {
  background-color: #dddddd;
}

#topAnswers{
  text-align: left;
  padding-bottom: 10px;
  padding: 10px;
  position: absolute;
  width: 50%;
  margin-top: 365px;
  margin-left: 70px;
  background-color: white;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;

}

#topAnswers:hover{
  background-color:#6DD1DC;
}

#viewAll{
  text-align: left;
  padding-bottom: 10px;
  padding: 10px;
  position: absolute;
  width: 50%;
  margin-top: 310px;
  margin-left: 70px;
  background-color: white;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  border-radius: 10px;

}

#viewAll:hover{
  background-color:#6DD1DC;
}

.entry{
  background-color: green;
  border-radius: 10px;
  width: 130px;
  height: 70px;
  font-size: 14px;
  padding-top: 15px;
  position: absolute;
  border-color: black;
  border-style: solid;

}

#viewall{
  width: 500px;
  font-size: 15px;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
 text-align: left;
 overflow-y: scroll;
}

